.navbar-brand {
  background-color: #40c8d7;
}

.profPic {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.row {
    background-color: white;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #40c8d7;
    background-color: darkgrey;
    padding: 4px 0;
    text-align: center;
  }

